.home {
  background-image: url("https://pm1.narvii.com/6448/767c4aee7f782fae5b5419cc380105703af1199c_hq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
